.baner {
  background-color: #eaeff5;
}

.baner .bg_img {
  background-image: url(../../images/main_bg_img_heder.png);
  block-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
}

.baner a img {
  margin: 25px 0;
}

.baner .block_h1 {
  display: inline-block;
  text-align: center;
  width: 600px;
  height: 65px;
  filter: drop-shadow(2px 3.464px 3.5px rgba(155, 182, 190, 0.75));
  background-color: var(--color_btn_send_message_hover);
}

.baner .block_h1::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 35px solid var(--color_btn_send_message_hover);
  border-right: 35px solid transparent;
  position: relative;
  top: 65px;
  right: 282.5px;
}
.baner .block_h1 h1 {
  margin: 0;
  position: relative;
  bottom: 24px;
}

.baner h3 {
  margin: 25px 0px 0px 55px;
}

.baner ul {
  padding-left: 55px;
}

.baner ul li {
  font-size: 18px;
  line-height: 33px;
  color: var(--color_p_text);
  font-family: "Arial Narrow";
  font-weight: 500;
}

.baner ul li::marker {
  color: var(--color_main_1);
  font-size: 30px;
}

.baner .btn a {
  font-family: Roboto_Regular;
  text-decoration: none;
  font-size: 18px;
  line-height: 42px;
  color: var(--color_btn_read_more);
  display: inline-block;
  border: 2px solid var(--color_main_1);
  font-weight: 400;
  text-align: center;
  width: 230px;
  margin: 10px;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .baner .bg_img {
    background-image: none;
  }

  .baner {
    height: 600px;
    background-image: url(../../images/main_bg_img_heder.png);
    block-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
  }

  .baner ul li {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
  }

  .baner .btn a {
    width: 210px;
    font-size: 16px;
    line-height: 35px;
    background-color: rgba(255, 255, 255, 0.6);
  }

  .baner .block_h1 {
    width: 550px;
  }

  .baner .block_h1::before {
    right: 257.5px;
  }
}

@media screen and (max-width: 991px) {
  .baner .bg_img {
    background-image: none;
  }

  .baner {
    background-image: url(../../images/Bg2.svg);
    background-size: 500% 100%;
    background-position: top -250px center;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
  .baner {
    padding-bottom: 15px;
  }

  .baner .block_h1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 66px;
    padding: 10px 30px;
    margin-top: 20px;

    position: relative;
  }

  .baner .block_h1 h1 {
    font-size: 32px;
    line-height: 32px;
    position: initial;
    text-align: left;
  }

  .baner .block_h1::before {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .baner ul {
    margin: 10px 0;
  }

  .baner ul li {
    line-height: 20px;
    margin: 5px 0;
  }
}

@media screen and (max-width: 991px) {
  .baner .box-wrapper {
    margin: 5px 0 20px 0;

    height: 50px;
    background-color: var(--color_btn_send_message_hover);

    display: flex;
    align-items: center;
    padding: 0 20px;
    filter: drop-shadow(2px 3.464px 3.5px rgba(2, 68, 121, 0.75));

    position: relative;
  }

  .baner .box-wrapper::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 18px solid var(--color_btn_send_message_hover);
    border-right: 18px solid transparent;

    position: absolute;
    bottom: -18px;
    left: 0;
  }

  .baner .box-wrapper .number {
    font-size: 49px;
    color: var(--color_btn_order_now);
    font-family: "Roboto_Bold";
    letter-spacing: -5px;
    margin-left: 15px;
  }

  .baner .box-wrapper .text0 {
    font-size: 37px;
    color: var(--color_btn_order_now);
    font-family: "Roboto_Regular";
    transform: translateY(2px);
    margin: 0 5px 0 10px;
  }

  .baner .box-wrapper .text1 {
    font-size: 35px;
    text-transform: uppercase;
    color: var(--color_btn_order_now);
    font-family: "Roboto_Regular";
    transform: translateY(2px);
  }

  .baner .box-wrapper .text2 {
    font-size: 22px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--color_btn_read_more);
    font-family: "Roboto_Regular";
    transform: translateY(4px);
    margin-left: 10px;
  }
}

@media screen and (max-width: 575px) {
  .baner {
    padding-bottom: 20px;
  }

  .baner .article-small {
    display: flex;
    justify-content: center;
  }

  .baner .block_h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 76px;
    padding: 10px 50px;
    margin-top: 20px;

    position: relative;
  }

  .baner .block_h1 h1 {
    font-size: 28px;
    line-height: 28px;
    position: initial;
    text-align: left;
  }

  .baner .block_h1::before {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .baner ul {
    margin: 10px 0;
  }

  .baner ul li {
    line-height: 20px;
    margin: 5px 0;
  }

  .baner .box-wrapper {
    padding: 0 5px;
  }

  .baner .btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .baner .btn a {
    width: 70%;
    margin: 5px;
  }
}

@media screen and (max-width: 376px) {
  .baner .block_h1 {
    padding: 10px 20px;
  }

  .baner .box-wrapper {
    padding: 0;
    margin-bottom: 25px;
  }

  .baner .box-wrapper .number {
    font-size: 49px;
    margin-left: 10px;
  }

  .baner .box-wrapper .text0 {
    font-size: 37px;
    margin: 0 3px 0 7px;
  }

  .baner .box-wrapper .text1 {
    font-size: 32px;
  }

  .baner .box-wrapper .text2 {
    font-size: 18px;
    margin-left: 10px;
  }

  .baner .btn a {
    width: 100%;
  }
}
