.blogpostArticle {
  padding-top: 100px;
  background-color: #f4f6fa;
  background-image: url("./../../images/Bg1.svg");
  background-repeat: no-repeat;
  background-position: center top -300px;
  background-size: 200%;
}

.blogpostArticle ._container-bg {
  filter: drop-shadow(2px 3.464px 3.5px rgba(167, 192, 200, 0.75));
  background-color: #ffffff;
  overflow: visible;
}

.blogpostArticle .mainPhoto {
  height: 575px;
  filter: drop-shadow(2px 3.464px 3.5px rgba(167, 192, 200, 0.75));
  position: relative;
}

.blogpostArticle .mainPhoto img {
  height: auto;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.blogpostArticle .tags {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 70px;
}

.blogpostArticle .tag {
  margin: 10px 0;
}

.blogpostArticle .blogpost-datum {
  margin: 30px 0 10px 0;
}

.blogpostArticle .socials {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 20px;
}

.blogpostArticle .socials .mediaIcon-container {
  margin: 15px 0;
}

.blogpostArticle h2 {
  margin: 35px 0 25px 0;
}

.blogpostArticle .horizontalLine {
  margin-bottom: 25px;
}

.blogpostArticle h3 {
  color: var(--color_main_1);
  margin-left: 60px;
  margin-bottom: 20px;
}

.blogpostArticle h4 {
  font-family: Roboto_Bold;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 22px;
  letter-spacing: 1px;
}

.blogpostArticle ._mainArticle {
  padding: 0 75px 0 45px;
}

.blogpostArticle ._mainArticle p {
  font-size: 18px;
  color: var(--color_p_text);
  font-family: "Arial Narrow";
  letter-spacing: 0.7px;
  word-spacing: 3px;
  margin-bottom: 30px;
}

.blogpostArticle ._article-bottomNav-bg {
  background-color: var(--color_btn_read_more_hover);
}

.blogpostArticle .articlePrev,
.blogpostArticle .articleNext {
  width: fit-content;
  margin: 10px 0 5px 0;
}

.blogpostArticle .articlePrev a,
.blogpostArticle .articleNext a {
  display: flex;
  align-items: center;
}

.blogpostArticle .articlePrev a:hover,
.blogpostArticle .articleNext a:hover {
  text-decoration: underline;
}

.blogpostArticle .articlePrev a:hover .nav-articleTitle,
.blogpostArticle .articleNext a:hover .nav-articleTitle {
  color: var(--color_main_2);
}

.blogpostArticle .articlePrev img {
  margin-right: 10px;
}

.blogpostArticle .articleNext img {
  margin-left: 10px;
}

.blogpostArticle .nav-articleTitle {
  font-size: 20px;
  color: var(--color_main_1);
  font-weight: bold;
  font-family: "Arial Narrow";
  text-align: left;
}

@media screen and (max-width: 1399px) {
  .blogpostArticle .mainPhoto {
    height: 485px;
  }
}

@media screen and (max-width: 1199px) {
  .blogpostArticle .mainPhoto {
    height: 390px;
  }

  .blogpostArticle .articleNext {
    margin-left: auto;
    text-align: right;
  }
  .blogpostArticle .articleNext a span {
    text-align: right;
  }
}

@media screen and (max-width: 991px) {
  .blogpostArticle .socials .mediaIcon-container {
    width: 30px;
    height: 30px;
    margin: 10px 0;
  }

  .blogpostArticle .socials {
    padding-right: 0;
  }

  .blogpostArticle .datum-md {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }

  .blogpostArticle .datum-md .blogpost-datum {
    margin: 0;
    font-size: 18px;
  }

  .blogpostArticle .tags-md {
    margin: 8px auto 0 auto;
    width: 83.3%;
    display: flex;
    flex-direction: row;
  }

  .blogpostArticle .tags-md .tag {
    margin-right: 10px;
  }
}

@media screen and (max-width: 767px) {
  .blogpostArticle .mainPhoto {
    height: 280px;
  }

  .blogpostArticle .socials .mediaIcon-container {
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
  }

  .blogpostArticle .datum-md .blogpost-datum {
    display: inline-block;
    margin-top: 5px;
  }

  .blogpostArticle h3 {
    margin-left: 0;
  }

  .blogpostArticle ._mainArticle {
    padding: 0 20px;
  }
}

@media screen and (max-width: 575px) {
  .blogpostArticle {
    padding-top: 20px;
  }

  .blogpostArticle ._p-xs-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .blogpostArticle .mainPhoto {
    height: auto;
    position: static;
  }

  .blogpostArticle .mainPhoto img {
    height: auto;
    width: 100%;
    position: static;
  }

  .blogpostArticle .blogpost-datum {
    display: inline-block;
    margin: 10px 0 0 10px;
    font-size: 18px;
  }

  .blogpostArticle h2 {
    margin: 5px 0 5px 0;
    text-align: center;
    word-spacing: 3px;
  }

  .blogpostArticle .horizontalLine {
    margin-bottom: 10px;
    height: 2px;
  }

  .blogpostArticle .socials-xs {
    display: flex;
    justify-content: center;
    margin: 5px 0 10px 0;
  }

  .blogpostArticle .socials-xs .mediaIcon-container {
    height: 25px;
    width: 25px;
    margin: 0 15px;
  }
}

@media screen and (max-width: 376px) {
}
