.blogpostArticle {
  padding-top: 100px;
  background-color: #f4f6fa;
  background-image: url("./../../images/Bg1.svg");
  background-repeat: no-repeat;
  background-position: center top -300px;
  background-size: 200%;
}

.blogpostArticle ._container-bg {
  filter: drop-shadow(2px 3.464px 3.5px rgba(167, 192, 200, 0.75));
  background-color: #ffffff;
  overflow: visible;
}

.blogpostArticle .mainPhoto {
  height: 575px;
  filter: drop-shadow(2px 3.464px 3.5px rgba(167, 192, 200, 0.75));
  position: relative;
}

.blogpostArticle .mainPhoto img {
  height: 650px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.blogpostArticle .tags {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 70px;
}

.blogpostArticle .tag {
  margin: 10px 0;
}

.blogpostArticle .blogpost-datum {
  margin: 30px 0 10px 0;
}

.blogpostArticle .socials {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 20px;
}

.blogpostArticle .socials .mediaIcon-container {
  margin: 15px 0;
}

.blogpostArticle h2 {
  margin: 35px 0 25px 0;
}

.blogpostArticle .horizontalLine {
  margin-bottom: 25px;
}

.blogpostArticle h3 {
  color: var(--color_main_1);
  margin-left: 60px;
  margin-bottom: 20px;
}

.blogpostArticle h4 {
  font-family: Roboto_Bold;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 22px;
  letter-spacing: 1px;
}

.blogpostArticle ._mainArticle {
  padding: 0 75px 0 45px;
}

.blogpostArticle ._mainArticle p {
  font-size: 18px;
  color: var(--color_p_text);
  font-family: "Arial Narrow";
  letter-spacing: 0.7px;
  word-spacing: 3px;
  margin-bottom: 30px;
}

.blogpostArticle ._article-bottomNav-bg {
  height: 50px;
  background-color: var(--color_btn_read_more_hover);
}

.blogpostArticle .articlePrev,
.blogpostArticle .articleNext {
  width: fit-content;
}

.blogpostArticle .articlePrev a,
.blogpostArticle .articleNext a {
  display: flex;
  align-items: center;
  border-bottom: 1px solid transparent;
}

.blogpostArticle .articlePrev a:hover,
.blogpostArticle .articleNext a:hover {
  border-bottom: 1px solid var(--color_main_2);
}

.blogpostArticle .articlePrev a:hover .nav-articleTitle,
.blogpostArticle .articleNext a:hover .nav-articleTitle {
  color: var(--color_main_2);
}

.blogpostArticle .nav-articleTitle {
  font-size: 20px;
  color: var(--color_main_1);
  font-weight: bold;
  font-family: "Arial Narrow";
  text-align: left;
  margin: 0 15px;
}
