._active-mainNav {
  background-color: var(--color_btn_send_message_hover);
  color: var(--color_btn_text_hover);
  box-shadow: -16px 0px 0px var(--color_btn_send_message_hover), 16px 0px 0px var(--color_btn_send_message_hover);
}

._triangleBottom-orderNow {
  position: relative;
  background-color: var(--color_btn_order_now);
  font-size: 22px;
  text-transform: uppercase;
  color: var(--color_btn_text);
  font-weight: 400;
  font-family: "Roboto_Regular";
  text-align: center;
  padding: 3px 40px;
  letter-spacing: 1px;
  border: none;
}

._triangleBottom-orderNow::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 18px solid var(--color_btn_order_now);
  border-right: 18px solid transparent;

  position: absolute;
  bottom: -17px;
  left: 0;
}

._triangleBottom-orderNow:hover {
  background: var(--color_btn_order_now_hover);
}

._triangleBottom-orderNow:hover::after {
  border-top: 18px solid var(--color_btn_order_now_hover);
}

._triangleBottom-big {
  filter: drop-shadow(2px 3.464px 3.5px rgba(155, 182, 190, 0.75));
  background-color: var(--color_btn_send_message_hover);
  position: relative;
  padding: 15px 30px;
}

._triangleBottom-big::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 35px solid var(--color_btn_send_message_hover);
  border-right: 35px solid transparent;
  position: absolute;
  bottom: -34px;
  left: 0;
}

@media screen and (max-width: 575px) {
  ._triangleBottom-big {
    padding: 10px 20px;
  }
}

._triangleBottom-middle {
  filter: drop-shadow(2px 3.464px 3.5px rgba(167, 192, 200, 0.75));
  position: relative;
  background-color: var(--color_main_1);
  padding: 7px 5px;
}

._triangleBottom-middle::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 18px solid var(--color_main_1);
  border-right: 18px solid transparent;

  position: absolute;
  bottom: -17px;
  left: 0;
}

._triangleBottom-p {
  filter: drop-shadow(2px 3.464px 3.5px rgba(167, 192, 200, 0.75));
  background-color: var(--color_btn_text);
  position: relative;
}

._triangleBottom-p::after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-top: 27px solid var(--color_btn_text);
  border-right: 37px solid transparent;

  position: absolute;
  bottom: -26px;
  left: 0;
}

.tag {
  width: fit-content;
  padding: 0 15px;
  height: 20px;
  background-color: #caddea;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #075da2;
  font-weight: 400;
  font-family: "Roboto_Regular";
  text-align: center;
}

.blogpost-datum {
  font-size: 22px;
  line-height: 24px;
  text-transform: uppercase;
  color: #a6cae3;
  font-weight: 500;
  font-family: "Roboto_Medium";
}

.mediaIcon-container {
  height: 40px;
  width: 40px;
  margin-left: 50px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.facebook {
  background-image: url("../../images/Facebook.svg");
}

.facebook:hover {
  background-image: url("../../images/Facebook2.svg");
}

.twitter {
  background-image: url("../../images/Twiter.svg");
}

.twitter:hover {
  background-image: url("../../images/Twiter2.svg");
}

.pinterest {
  background-image: url("../../images/Pinterest.svg");
}

.pinterest:hover {
  background-image: url("../../images/Pinterest2.svg");
}

.horizontalLine {
  width: 100%;
  height: 4px;
  border-radius: 10%;
  border: none;
  background-color: var(--color_main_1);
}

.submit-btn {
  width: 120px;
  height: 40px;
  background-color: #1b7fd0;
  font-size: 22px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  font-family: "Roboto_Medium";
  text-align: center;
  border: none;
  cursor: pointer;
}

input,
textarea {
  height: 35px;
  background-color: #e9f7fd;
  border: none;
  padding: 10px 25px;
}

input::placeholder,
textarea::placeholder {
  font-size: 15px;
  letter-spacing: 0px;
  color: #013056;
  font-weight: 400;
  font-family: "Roboto_Regular";
}

h3.mainColor-big {
  background-color: var(--color_main_1);
  color: var(--color_btn_text);
  font-size: 22px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  font-family: "Roboto_Medium";
  padding: 15px;
  text-align: center;
}

@media screen and (max-width: 575px) {
  h3.mainColor-big {
    padding: 10px;
  }
}

@media screen and (max-width: 575px) {
  ._d-xs-none {
    display: none;
  }
}
