.essayWriting {
  background-color: #f4f6fa;
  background-image: url(../../images/Bg2.png);
  background-repeat: no-repeat;
}

.essayWriting .img-container {
  display: inline-block;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-repeat: no-repeat;
}

.essayWriting h2 {
  line-height: 50px;
  text-align: center;
  background-color: var(--color_btn_send_message_hover);
  padding: 0 20px;
  margin-top: 40px;
  filter: drop-shadow(2px 3.464px 3.5px rgba(2, 68, 121, 0.75));
  position: relative;
}

.essayWriting h2::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 18px solid var(--color_btn_send_message_hover);
  border-right: 18px solid transparent;

  position: absolute;
  bottom: -18px;
  left: 0;
}

.essayWriting .header-p {
  font-size: 14px;
  color: var(--color_p_text);
  font-family: "Arial Narrow";
  text-align: left;

  margin-top: 40px;
  margin-bottom: 30px;
}

.essayWriting .cards {
  text-align: center;
  padding: 20px 15px;
  margin-bottom: 65px;
  position: relative;
}

.essayWriting .cards h4 {
  height: 65px;
  display: flex;
  align-items: center;
}

.essayWriting .cards p,
.essayWriting .cards ul {
  text-align: justify;
  font-size: 13px;
  color: var(--color_p_text);
  font-family: "Arial Narrow";
}

.essayWriting .cards p {
  margin: 0;
}

.essayWriting .cards ul {
  padding: 0;
  margin-top: 5px;
  list-style: none;
}

.essayWriting .card1 p,
.essayWriting .card2 p,
.essayWriting .card3 .p-container,
.essayWriting .card4 .p-container {
  height: 214px;
  overflow: hidden;
}

.essayWriting .cards button {
  width: 120px;
  height: 35px;
  background-color: #075da1;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--color_btn_text);
  font-weight: 400;
  font-family: "Roboto_Regular";
  text-align: center;
  border: none;
  cursor: pointer;
  transition: all linear 0.1s;

  margin-top: 25px;
}

.essayWriting .cards button:hover {
  color: var(--color_btn_send_message);
  background-color: var(--color_btn_send_message_hover);
}

.essayWriting .cards:hover {
  background-color: var(--color_btn_text);
  cursor: pointer;
}

.essayWriting .cards:hover::after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-top: 27px solid var(--color_btn_text);
  border-right: 37px solid transparent;

  position: absolute;
  bottom: -27px;
  left: 0;
}

.essayWriting .card1 .img-container {
  background-image: url(../../images/Element1.svg);
}

.essayWriting .card1:hover .img-container {
  background-image: url(../../images/Element1_dark.svg);
}

.essayWriting .card2 .img-container {
  background-image: url(../../images/Element2.svg);
}

.essayWriting .card2:hover .img-container {
  background-image: url(../../images/Element2_dark.svg);
}
.essayWriting .card3 .img-container {
  background-image: url(../../images/Element3.svg);
}

.essayWriting .card3:hover .img-container {
  background-image: url(../../images/Element3_dark.svg);
}
.essayWriting .card4 .img-container {
  background-image: url(../../images/Element4.svg);
}

.essayWriting .card4:hover .img-container {
  background-image: url(../../images/Element4_dark.svg);
}

@media screen and (max-width: 1199px) {
  .essayWriting .header-p {
    margin: 30px 0 10px 0;
  }

  .essayWriting .cards {
    padding: 20px;
    margin-bottom: 30px;
  }

  .essayWriting .card1 p,
  .essayWriting .card2 p,
  .essayWriting .card3 .p-container,
  .essayWriting .card4 .p-container {
    height: 180px;
    padding: 0 20px;
  }

  .essayWriting .cards h4 {
    margin: 5px;
  }

  .essayWriting .cards button {
    margin-top: 5px;
  }
}

@media screen and (max-width: 991px) {
  .essayWriting h2 {
    line-height: normal;
    padding: 10px 0;
  }

  .essayWriting .h510 {
    height: 510px;
  }

  .essayWriting .cards-sm {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 2;

    margin-top: 10px;
  }

  .essayWriting .cards-sm h4 {
    margin-top: 40px;
    height: 50px;
  }

  .essayWriting .cards-sm p,
  .essayWriting .cards-sm ul {
    text-align: justify;
    font-size: 13px;
    color: var(--color_p_text);
    font-family: "Arial Narrow";
  }

  .essayWriting .cards-sm p {
    margin: 0;
  }

  .essayWriting .cards-sm ul {
    padding: 0;
    margin-top: 5px;
    list-style: none;
  }

  .essayWriting .card-sm-1 p,
  .essayWriting .card-sm-2 p,
  .essayWriting .card-sm-3 .p-container,
  .essayWriting .card-sm-4 .p-container {
    height: 150px;
    overflow: hidden;
  }

  .essayWriting .cards-sm button {
    width: 120px;
    height: 35px;
    background-color: #075da1;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--color_btn_text);
    font-weight: 400;
    font-family: "Roboto_Regular";
    text-align: center;
    border: none;
    cursor: pointer;
    transition: all linear 0.1s;
  }

  .essayWriting .cards-sm button:hover {
    color: var(--color_btn_send_message);
    background-color: var(--color_btn_send_message_hover);
  }

  .pos-relative {
    position: relative;
  }

  .essayWriting .cards-sm .img-container {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: #caddea;
    position: relative;
    z-index: 1;
    cursor: pointer;
  }

  .essayWriting .cards-sm .card-hover {
    height: 0;
    overflow: hidden;
  }

  .essayWriting .cards-sm:hover .card-hover {
    height: 350px;
    position: absolute;
    width: 560px;
    top: 125px;
    left: 80px;
    filter: drop-shadow(2px 3.464px 3.5px rgba(167, 192, 200, 0.75));
    background-color: #ffffff;
    padding: 0 40px;
    overflow: visible;
    z-index: 3;
  }

  .essayWriting .card-sm-2:hover .card-hover::after,
  .essayWriting .card-sm-3:hover .card-hover::after {
    content: "";
    position: absolute;
    top: -24px;
    width: 0;
    height: 0;
    border-left: 22.5px solid transparent;
    border-right: 22.5px solid transparent;
    border-bottom: 24px solid #ffffff;
    z-index: -1;
  }

  .essayWriting .card-sm-2:hover .card-hover::after {
    left: 168px;
  }
  .essayWriting .card-sm-3:hover .card-hover::after {
    right: 168px;
  }

  .essayWriting .card-sm-1:hover .card-hover::after {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 24px solid #ffffff;
    border-right: 30px solid transparent;
    position: absolute;
    top: -24px;
    left: 0;
  }
  .essayWriting .card-sm-4:hover .card-hover::after {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 24px solid #ffffff;
    border-left: 30px solid transparent;
    position: absolute;
    top: -24px;
    right: 0;
  }

  .essayWriting .card-sm-1 .img-container {
    background-image: url("../../images/Element1.svg");
  }
  .essayWriting .card-sm-2 .img-container {
    background-image: url("../../images/Element2.svg");
  }
  .essayWriting .card-sm-3 .img-container {
    background-image: url("../../images/Element3.svg");
  }
  .essayWriting .card-sm-4 .img-container {
    background-image: url("../../images/Element4.svg");
  }
  .essayWriting .card-sm-1:hover .img-container {
    background-image: url("../../images/Element1_dark.svg");
  }
  .essayWriting .card-sm-2:hover .img-container {
    background-image: url("../../images/Element2_dark.svg");
  }
  .essayWriting .card-sm-3:hover .img-container {
    background-image: url("../../images/Element3_dark.svg");
  }
  .essayWriting .card-sm-4:hover .img-container {
    background-image: url("../../images/Element4_dark.svg");
  }

  .essayWriting .talkBubble {
    width: 360px;
    height: 160px;
    background: rgba(202, 221, 234, 0.6);
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 20%;
    filter: drop-shadow(2px 3.464px 3.5px rgba(167, 192, 200, 0.75));
    z-index: 1;
  }

  .essayWriting .talkBubble::before {
    content: "";
    position: absolute;
    right: 100%;
    top: 52px;
    width: 0;
    height: 0;
    border-top: 26px solid transparent;
    border-right: 52px solid rgba(202, 221, 234, 0.6);
    border-bottom: 26px solid transparent;
  }

  .essayWriting .talkBubble p {
    margin: 40px;
    color: var(--color_main_1);
    font-family: "Roboto_Regular";
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .essayWriting h2 {
    padding: 10px 20px;
  }

  .essayWriting .header-p {
    padding: 0 10px;
    text-align: justify;
    line-height: 18px;
  }

  .essayWriting .cards-sm:hover .card-hover {
    width: 90%;
    left: 5%;
  }

  .essayWriting .cards-sm .card-hover h4 {
    margin: 30px 20px 20px 20px;
  }

  .essayWriting .card-sm-1 p,
  .essayWriting .card-sm-2 p,
  .essayWriting .card-sm-3 .p-container,
  .essayWriting .card-sm-4 .p-container {
    height: 180px;
  }

  .essayWriting .card-sm-1:hover .card-hover::after,
  .essayWriting .card-sm-4:hover .card-hover::after {
    content: "";
    position: absolute;
    top: -24px;
    width: 0;
    height: 0;
    border-left: 22.5px solid transparent;
    border-right: 22.5px solid transparent;
    border-bottom: 24px solid #ffffff;
    z-index: -1;
  }

  .essayWriting .card-sm-1:hover .card-hover::after {
    left: 18px;
  }

  .essayWriting .card-sm-2:hover .card-hover::after {
    left: 153px;
  }

  .essayWriting .card-sm-3:hover .card-hover::after {
    right: 153px;
  }

  .essayWriting .card-sm-4:hover .card-hover::after {
    right: 18px;
  }

  .essayWriting .talkBubble {
    top: 40%;
    left: 15%;
  }
}

@media screen and (max-width: 575px) {
}

@media screen and (max-width: 376px) {
}
