.howItWorks {
  background-image: url(../../images/Bg1.svg);
  background-repeat: no-repeat;
  background-position: bottom -10% center;
}

.howItWorks h2 {
  line-height: 50px;
  text-align: center;
  background-color: var(--color_btn_send_message_hover);
  padding: 0 20px;
  margin: 40px 0;
  filter: drop-shadow(2px 3.464px 3.5px rgba(2, 68, 121, 0.75));
  position: relative;
}

.howItWorks h2::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 18px solid var(--color_btn_send_message_hover);
  border-right: 18px solid transparent;

  position: absolute;
  bottom: -18px;
  left: 0;
}

.howItWorks .orderNow-wrapper {
  display: flex;
  justify-content: center;
}

.howItWorks .orderNow {
  line-height: 40px;
  width: 310px;
  margin-top: 30px;
  background-color: var(--color_btn_order_now);
  color: var(--color_btn_text);
  font-family: "Roboto_Regular";
  text-transform: uppercase;
  font-size: 26px;
  text-align: center;
  cursor: pointer;
  position: relative;

  margin: 65px 0;
}

.howItWorks .orderNow::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 18px solid var(--color_btn_order_now);
  border-right: 18px solid transparent;

  position: absolute;
  bottom: -18px;
  left: 0;
}

.howItWorks .orderNow:hover {
  background: var(--color_btn_order_now_hover);
}

.howItWorks .orderNow:hover::after {
  border-top: 18px solid var(--color_btn_order_now_hover);
}

.howItWorks .content-md .card-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
}

.howItWorks .content-md h4 {
  width: 100%;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--color_btn_send_message);
  font-weight: 500;
  font-family: "Roboto_Bold";
  margin: 0;
  cursor: pointer;

  height: 65px;
  border-bottom: 2px solid #caddea;
  position: relative;
  z-index: 1;
}

.howItWorks .content-md .card-wrapper:hover h4::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 32.5px solid transparent;
  border-bottom: 32.5px solid transparent;
  border-left: 25px solid var(--color_btn_send_message);

  display: block;
  position: absolute;
  top: 0px;
  right: -25px;
  z-index: 1;
}

.howItWorks .content-md h4 span {
  font-size: 59px;
  line-height: 51px;
  text-transform: uppercase;
  color: var(--color_btn_send_message_hover);
  font-weight: 700;
  font-family: "Roboto_Bold";
  text-align: center;
  margin: 0 15px 0 25px;
}

.howItWorks .content-md .card {
  filter: drop-shadow(2px 3.464px 3.5px rgba(167, 192, 200, 0.75));
  background-color: var(--color_btn_text);
  padding: 20px 40px;
  cursor: pointer;

  display: none;
}

.howItWorks .content-md .card h6 {
  font-size: 16px;
  line-height: 18px;
  color: #0983e5;
  font-family: "Arial Narrow";
  font-weight: 400;
  margin: 0 0 10px 0;
  text-align: center;
}

.howItWorks .content-md .card p {
  font-size: 16px;
  color: var(--color_p_text);
  font-family: "Arial Narrow";
  text-align: justify;
  margin: 0;
}

.howItWorks .content-md .card-wrapper .img-icon {
  width: 120px;
  height: 120px;
  min-height: 120px;
  border-radius: 50%;
  background-color: #c9dde9;
  margin-bottom: 20px;
}

.howItWorks .content-md .card-wrapper:hover h4 {
  background-color: var(--color_h4);
  color: var(--color_btn_text);
}

.howItWorks .content-md .card-wrapper:hover .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 460px;
  height: 415px;
  position: absolute;
  right: -460px;
  overflow: hidden;
}

.howItWorks .content-md .wrap1:hover .card {
  top: -5px;
}

.howItWorks .content-md .wrap2:hover .card {
  top: -70px;
}

.howItWorks .content-md .wrap3:hover .card {
  top: -135px;
}

.howItWorks .content-md .wrap4:hover .card {
  top: -200px;
}

.howItWorks .content-md .wrap5:hover .card {
  top: -265px;
}

.howItWorks .content-md .wrap6:hover .card {
  top: -330px;
}

@media screen and (max-width: 1199px) {
  .howItWorks .content-md .card-wrapper:hover .card {
    width: 400px;
    right: -400px;
  }

  .howItWorks .content-md .card p {
    font-size: 15px;
  }

  .howItWorks .content-md .card-wrapper .img-icon {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 991px) {
  .howItWorks .content-md .card-wrapper:hover .card {
    width: 360px;
    right: -360px;
  }

  .howItWorks .content-md .card p {
    font-size: 14px;
  }

  .howItWorks .content-md .card-wrapper .img-icon {
    width: 90px;
    height: 90px;
    min-height: 90px;
    margin-bottom: 15px;
  }

  .howItWorks .content-md h4 span {
    font-size: 55px;
    margin: 0 10px 0 5px;
  }

  .howItWorks .content-md h4 {
    font-size: 16px;
    height: 65px;
  }
}

@media screen and (max-width: 767px) {
  .howItWorks .content-sm h4 {
    width: 100%;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: var(--color_btn_send_message);
    font-weight: 500;
    font-family: "Roboto_Bold";
    margin: 0;
    cursor: pointer;
    padding-right: 5px;
    position: relative;

    height: 85px;
    border-bottom: 2px solid #caddea;
  }

  .howItWorks .content-sm h4::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    width: 0;
    height: 0;
    z-index: 3;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 0 solid transparent;
    transition: all 0.2s ease-in-out;
  }

  .howItWorks .content-sm h4:hover::after {
    border-top: 18px solid var(--color_h4);
  }

  .howItWorks .content-sm .card-wrapper:hover h4 {
    background-color: var(--color_h4);
    color: var(--color_btn_text);
  }

  .howItWorks .content-sm h4 span {
    font-size: 59px;
    line-height: 51px;
    text-transform: uppercase;
    color: var(--color_btn_send_message_hover);
    font-weight: 700;
    font-family: "Roboto_Bold";
    text-align: center;
    margin: 0 15px 0 25px;
  }

  .howItWorks .content-sm .card {
    filter: drop-shadow(2px 3.464px 3.5px rgba(167, 192, 200, 0.75));
    background-color: var(--color_btn_text);
    padding: 10px 40px 20px 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 0;
    padding: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }

  .howItWorks .content-sm .show {
    height: 350px;
    padding: 10px 40px 20px 40px;
  }

  .howItWorks .content-sm .card-wrapper .img-icon {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #c9dde9;
    margin-bottom: 10px;
  }

  .howItWorks .content-sm .card h6 {
    font-size: 16px;
    line-height: 18px;
    color: #0983e5;
    font-family: "Arial Narrow";
    font-weight: 400;
    margin: 0 0 10px 0;
    text-align: center;
  }

  .howItWorks .content-sm .card p {
    font-size: 16px;
    color: var(--color_p_text);
    font-family: "Arial Narrow";
    text-align: justify;
    margin: 0;
  }
}

@media screen and (max-width: 575px) {
}

@media screen and (max-width: 376px) {
}
