.logo-gallery {
  background-color: var(--color_btn_send_message_hover);
}

.logo-gallery .creditCards {
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.logo-gallery .creditCards img {
  height: 45px;
  width: auto;
  margin-right: 15px;
}

.logo-gallery .mediaIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.logo-gallery .mediaIcons div {
  height: 40px;
  width: 40px;
  margin-left: 50px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.logo-gallery .media1 {
  background-image: url("../../images/Facebook.svg");
}

.logo-gallery .media1:hover {
  background-image: url("../../images/Facebook2.svg");
}

.logo-gallery .media2 {
  background-image: url("../../images/Twiter.svg");
}

.logo-gallery .media2:hover {
  background-image: url("../../images/Twiter2.svg");
}

.logo-gallery .media3 {
  background-image: url("../../images/Pinterest.svg");
  margin-right: 110px;
}

.logo-gallery .media3:hover {
  background-image: url("../../images/Pinterest2.svg");
}

@media screen and (max-width: 1199px) {
  .logo-gallery .mediaIcons div {
    margin: 0 40px 0 0;
  }

  .logo-gallery .creditCards img {
    margin-right: 10px;
  }
}

@media screen and (max-width: 991px) {
  .logo-gallery {
    height: 60px;
  }

  .logo-gallery .mediaIcons {
    min-height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .logo-gallery .mediaIcons div {
    margin: 0 40px;
  }
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 575px) {
}

@media screen and (max-width: 376px) {
}
