.promo {
  height: 300px;
  background-image: url(../../images/main_bg_prise.png);
}

.promo .box-wrapper {
  margin-top: 25px;

  height: 50px;
  background-color: var(--color_btn_send_message_hover);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  filter: drop-shadow(2px 3.464px 3.5px rgba(2, 68, 121, 0.75));

  position: relative;
}

.promo .box-wrapper::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 18px solid var(--color_btn_send_message_hover);
  border-right: 18px solid transparent;

  position: absolute;
  bottom: -18px;
  left: 0;
}

.promo .box-wrapper .offer-wrap {
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  align-items: center;
}

.promo .box-wrapper .offer-wrap img {
  height: 50px;
  width: auto;
}

.promo .box-wrapper .offer-wrap .number {
  font-size: 49px;
  color: var(--color_btn_order_now);
  font-family: "Roboto_Bold";
  letter-spacing: -5px;
  margin-left: 15px;
}

.promo .box-wrapper .offer-wrap .text0 {
  font-size: 37px;
  color: var(--color_btn_order_now);
  font-family: "Roboto_Regular";
  transform: translateY(2px);
  margin: 0 5px 0 10px;
}

.promo .box-wrapper .offer-wrap .text1 {
  font-size: 35px;
  text-transform: uppercase;
  color: var(--color_btn_order_now);
  font-family: "Roboto_Regular";
  transform: translateY(2px);
}

.promo .box-wrapper .offer-wrap .text2 {
  font-size: 22px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--color_btn_read_more);
  font-family: "Roboto_Regular";
  transform: translateY(4px);
  margin-left: 10px;
}

.promo .select-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0 25px;
}

.promo .select-wrap {
  height: 65px;
  width: 310px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  margin-top: 30px;
}

.promo .select-wrap h5 {
  font-size: 16px;
  line-height: 25px;
  color: var(--color_btn_text);
  font-weight: 400;
  font-family: "Roboto_Light";
  text-align: left;
  margin: 0;
  letter-spacing: 0.5px;
}

.promo .select-wrap select {
  height: 35px;
  min-height: 35px;
  width: 310px;

  margin-top: 8px;

  appearance: none;
  background-image: url(../../images/arrow_down.png);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px 6px;
  padding-right: 30px;
}

.promo .totalPrice {
  height: 65px;
  width: 310px;
  margin-top: 30px;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;

  padding: 4px;
}

.promo .totalPrice .part1 {
  font-size: 16px;
  text-transform: uppercase;
  color: var(--color_btn_text);
  font-family: "Roboto_Light";

  text-align: left;
  flex-grow: 1;
}

.promo .totalPrice .part2 {
  font-size: 48px;
  line-height: 45px;
  color: var(--color_btn_text);
  font-family: "Roboto_Regular";

  margin-right: 5px;
}

.promo .totalPrice .part3 {
  font-size: 28px;
  text-transform: uppercase;
  color: var(--color_btn_text);
  font-family: "Roboto_Regular";
}

.promo .orderNow {
  line-height: 40px;
  width: 310px;
  margin-top: 30px;
  background-color: var(--color_btn_order_now);
  color: var(--color_btn_text);
  font-family: "Roboto_Regular";
  text-transform: uppercase;
  font-size: 26px;
  text-align: center;
  cursor: pointer;
  transform: translateY(10px);

  position: relative;
}

.promo .orderNow::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 18px solid var(--color_btn_order_now);
  border-right: 18px solid transparent;

  position: absolute;
  bottom: -18px;
  left: 0;
}

.promo .orderNow:hover {
  background: var(--color_btn_order_now_hover);
}

.promo .orderNow:hover::after {
  border-top: 18px solid var(--color_btn_order_now_hover);
}

@media screen and (max-width: 1199px) {
  .promo .box-row-wrap {
    padding: 0;
  }

  .promo .select-wrap {
    width: auto;
  }

  .promo .select-wrap select,
  .promo .totalPrice,
  .promo .orderNow {
    width: 290px;
  }

  .promo .select-row {
    padding: 0 0 0 25px;
  }
}

@media screen and (max-width: 991px) {
  .promo {
    height: auto;
    padding-bottom: 20px;
  }

  .promo .orderNow {
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .promo .select-wrap select,
  .promo .totalPrice,
  .promo .orderNow {
    width: 250px;
  }

  .promo .orderNow {
    margin: 30px auto;
  }
}

@media screen and (max-width: 575px) {
  .promo .select-wrap {
    width: 100%;
  }

  .promo .select-wrap select {
    width: 80%;
  }

  .promo .orderNow {
    margin: 30px 0;
  }

  .promo .orderNow-container {
    display: flex;
    justify-content: flex-start;
  }

  .promo .orderNow {
    margin-top: 10px;
  }

  .promo .orderNow::after {
    bottom: -18px;
    left: 0;
  }
}

@media screen and (max-width: 376px) {
  .promo .promoHead-small .box-wrapper {
    padding: 0 5px;
    display: flex;
    justify-content: center;
  }

  .promo .promoHead-small h2 {
    font-size: 24px;
    margin: 0;
  }

  .promo .select-wrap select,
  .promo .totalPrice {
    width: 100%;
  }
}
